/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Utilites */

body {
    font-family: 'Poppins', sans-serif;
}

#display-page {
    color: white;
    background-color: #DD0000;
}

/* .header-detail {
    margin: 110px 0 110px 110px;
} */

/* HEADER STYLE ************************************************/

header {
    /* border: 2px solid red; */
    margin: 50px 10%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;

    border-radius: 30px;
    background: #161616;

}

.header-detail {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    align-content: center;

    margin-left: 100px;
}

.header-detail h1 {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;

    margin: 0;
}

.header-detail p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

    margin: 0;
}

.header-detail a {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;

    width: 190px;
    height: 55px;

    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;

    background: #DD0000;
    border-radius: 5px;
}

header img {
    width: 100%;
    height: 480px;
}

/* main ********************************************************/
.section-class {
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: 10px;

    margin: 50px 10%;
}

.section-nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;

    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: black;

    padding: 10px 15px;
    height: 150px;

    text-align: center;
    /* justify-content: center; */
}

.section-nav a {
    text-decoration: none;
    color: #161616;
    /* text-align: center;
    justify-content: center; */
    /* border: 1px solid red; */
    border-radius: 5px;
    background-color: #FFFFFF;

    padding-top: 7px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    border: 1px solid gray;
    border-radius: 10px;
}

.blog-dp {}

.blog-dp img {
    width: 100%;
}

.blog-detail {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;

    padding: 15px;
}

.blog-btn {}

.blog-btn a {
    text-decoration: none;
    color: #161616;

    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px;
}

.blog-title {}

.blog-title h3 {
    margin: 0;
}

.blog-info {
    display: flex;
    column-gap: 20px;
}

.blog-time-comment {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.view-all {
    margin: 50px 0 0 0;
}

.view-all a {
    text-decoration: none;
    color: #FFFFFF;

    padding: 5px 20px;

    background-color: #DD0000;
    border-radius: 5px;
}

/* FOOTER STYLE ************************************************/


footer {
    border: 2px solid #161616;

    background-color: #161616;
}

.footer {
    margin: 130px 140px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
}

.foooter-title {
    /* border: 2px solid black; */

    text-align: center;
}

.foooter-title h2 {
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

hr {
    width: 100%;
}

.footer-option {
    /* border: 2px solid blue; */

    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-option a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
}

.footer-social {
    /* border: 2px solid brown; */

    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.footer-social a {
    text-decoration: none;
    color: #B9B9B9;
}

/* Media Queries */

/* Mobile View */
@media only screen and (max-width: 688px) {
    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 24px;
    }

    .section-class {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .section-nav {
        background-color: #FFFFFF;
    }

    .section-nav a {
        border: 1px solid gray;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .view-all {
        display: none;
    }

    .footer-option {
        display: flex;
        flex-direction: column;
    }
}

/* Tablet View */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .section-class {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        row-gap: 20px;
    }

    .section-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #FFFFFF;
        column-gap: 10px;

        height: 40px;
    }

    .section-nav a {
        border: 1px solid gray;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .footer-option {
        display: flex;
        column-gap: 20px;
        flex-wrap: wrap;
    }
}

/* Laptop View */

@media only screen and (min-width: 993px) {
    .view-all {
        display: none;
    }
}