.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.match {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    justify-items: center;

    border: 1px solid grey;
    border-radius: 10px;

    padding: 30px 10px;
}

.match-banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */
    align-items: center;
    justify-items: center;

    width: 100%;
}

/* .match-title {} */

.match-title h3 {
    margin: 0;
}

/* .match-info {} */

.match-info p {
    margin: 0;
}

/* Media Queries */

/* Mobile View */
@media only screen and (max-width: 688px) {
    .matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet View */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}